.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}



.footer-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-logo img{
  width: 70px;
  height: 70px;
  background-color:#01243d;
}

.footer-logo p{
    color: #383838;
    font-size: 50px;
    font-weight: 700;
}

.footer-links{
    display: flex;
    list-style: none;
    gap: 50px;
    color: #252525;
    font-size: 20px;
   
}

.footer-links li a {
    text-decoration: none;
  color: inherit; /* Keeps the color the same as the parent text */
  transition: 0.3s;
   cursor: pointer;
}




.footer-icon-container{
    padding: 10px;
    padding-bottom: 6px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    

}

.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 20px;
}

.footer-copyright hr{
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
    
}




/* Container styling to center the button */
.whatsapp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* The Anchor tag styling */
.whatsapp-container a {
    text-decoration: none; /* Removes underline */
}

/* The actual button */
.whatsapp-btn {
    background-color: #28d266; /* WhatsApp Green */
    color: white;
    padding: 14px 26px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 50px; /* Rounded pill shape */
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(37, 211, 102, 0.3);
}

/* Hover effect */
.whatsapp-btn:hover {
    background-color: #128C7E; /* Darker WhatsApp Teal */
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(18, 140, 126, 0.4);
}

/* Active/Click effect */
.whatsapp-btn:active {
    transform: translateY(0);
}


@media(max-width:800px){
      .footer{
        gap: 20px;
      }

      .footer-logo{
        gap: 10px;
        align-items: end;
      }

      .footer-logo img{
        width: 40px;
        height: 40px;
      }

      .footer-logo p{
        font-size: 25px;
      }

      .footer-links{
        font-size: 14px;
        gap: 10px;
      }

     

      .footer-copyright{
        font-size: 13px;
      }

      .whatsapp-btn {
   
    padding: 12px 24px;
    font-size: 18px;
    
}

      
}





